.btn-plataforma{
  text-transform: uppercase;
  background: none;
  border: 2px #ae9743 solid;  
  padding: 10px 30px !important;
  border-radius: 50px;
  transition: .3s;
}

.btn-plataforma:hover{
  background: #ae9743;
  color: white !important;
}

.div-block {
  position: static;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-bottom: 0px;
  background-color: #cc2929;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-2 {
  width: 100%;
  height: 200px;
  background-color: #cc2929;
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.body {
  background-color: #f2f2f2;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.section-header {
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.header-logo {
  width: 200px;
}

.header-logo.w--current {
  width: auto;
  height: auto;
  background-image: none;
}

.navbar {
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
}

.container-2 {
  display: block;
  width: 100%;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  margin: 10px;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-left: 0px;
  padding-left: 0px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/hero-banner.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.h1.hero {
  color: #284270;
  font-size: 80px;
  line-height: 84px;
  font-weight: 300;
}

.div-block-3 {
  width: 100%;
}

.container-3 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.btn-amarelo {
  padding: 10px 40px;
  border: 2px solid #ae9743;
  border-radius: 30px;
  background-color: transparent;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #ae9743;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.btn-amarelo:hover {
  border-style: solid;
  background-color: #ae9743;
  color: #fff;
}

.section-servicos-home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #284270;
}

.servicos-home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph {
  margin-bottom: 0px;
  margin-left: 5px;
  color: #fff;
  font-size: 13px;
  line-height: 14px;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  padding: 20px 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  padding-right: 12px;
  padding-left: 12px;
  color: #ae9743;
  font-size: 14px;
  font-weight: 500;
}

.nav-link:hover {
  color: #8f8f8f;
}

.nav-link.w--current {
  border-bottom: 1px none #000;
  color: #ccc;
}

.section-sobre {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #15233b;
  background-image: url('../images/pattern.svg');
  background-position: 0px 0px;
  background-size: 200px;
  background-attachment: fixed;
  opacity: 1;
}

.section-sobre.home {
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: 200px;
}

.heading {
  color: #ae9743;
  font-size: 60px;
  line-height: 64px;
  font-weight: 300;
}

.paragraph-2 {
  margin-bottom: 0px;
  padding-left: 0px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.columns-2 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.section-projetos-home {
  padding-top: 80px;
  padding-bottom: 80px;
}

.h2 {
  color: #284270;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}

.h2.page-title {
  color: #ae9743;
}

.subtitle {
  margin-bottom: 10px;
  color: #666;
  font-size: 16px;
  text-align: center;
}

.galeria-imagens {
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: left;
}

.img-galeria {
  padding-right: 2px;
  padding-left: 2px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.img-galeria:hover {
  opacity: 0.5;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.column-2 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-3 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-4 {
  padding-right: 0px;
  padding-left: 0px;
}

.div-block-4 {
  width: 100%;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
}

.container-5 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.section-cta {
  background-image: url('../images/call-to-action-img.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.heading-3 {
  color: #fff;
  font-size: 50px;
  line-height: 52px;
  font-weight: 300;
}

.container-6 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: transparent;
}

.button {
  border-style: solid;
  border-width: 1px;
  border-color: #284270;
  border-radius: 20px;
  background-color: transparent;
  color: #284270;
}

.btn-azul {
  padding: 10px 40px;
  border: 2px solid #284270;
  border-radius: 20px;
  background-color: transparent;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #284270;
  font-weight: 500;
  cursor: pointer;
}

.btn-azul:hover {
  background-color: #284270;
  color: #fff;
}

.section-footer {
  background-color: #284270;
}

.container-7 {
  display: block;
  padding-top: 100px;
  padding-bottom: 100px;
}

.link-block {
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.link-block.w--current {
  width: 400px;
  background-image: url('../images/logo-branco.svg');
  background-position: 0% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.heading-4 {
  color: #fff;
}

.linha {
  width: 50%;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  color: #fff;
}

.link {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.link:hover {
  font-weight: 700;
}

.link.w--current:hover {
  font-weight: 700;
}

.links-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.columns-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contato-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-5 {
  color: #fff;
  font-weight: 400;
}

.image-2 {
  margin-right: 10px;
}

.social-media-icon {
  margin-right: 10px;
}

.image-4 {
  margin-right: 10px;
}

.column-5 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-copy-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #15233b;
}

.heading-6 {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.link-2 {
  color: #929292;
  font-weight: 500;
  text-decoration: none;
}

.container-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.slider {
  display: block;
  height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mask {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

.slide {
  position: relative;
}

.image-5 {
  position: relative;
  display: block;
  clear: none;
  text-align: center;
}

.container-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.clientes-logo {
  margin-right: 30px;
  margin-left: 30px;
  padding-right: 0px;
  padding-left: 0px;
  opacity: 1;
}

.clientes-logo:hover {
  opacity: 1;
}

.slide-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 8px;
  text-align: center;
}

.container-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-home {
  height: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}

.slide-nav-2 {
  display: none;
  overflow: visible;
  font-size: 9px;
}

.slide-2 {
  overflow: hidden;
}

.heading-7 {
  font-weight: 400;
  text-align: center;
}

.section-top-bar {
  background-color: #15233b;
}

.container-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.heading-8 {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.social-icon {
  width: 30px;
  height: 30px;
  padding: 5px;
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.social-icon.face {
  width: 24px;
  height: 24px;
  margin-right: 0px;
  margin-left: 5px;
  padding: 0px;
  background-image: url('../images/face-icon-white.svg');
  background-position: 0px 0px;
  background-size: cover;
}

.social-icon.face:hover {
  opacity: 0.5;
}

.social-icon.insta {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  padding: 0px;
  background-image: url('../images/insta-icon-white.svg');
  background-position: 0px 0px;
  background-size: cover;
}

.social-icon.insta:hover {
  opacity: 0.5;
}

.social-icon.whats {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 0px;
  background-image: url('../images/whats-icon-white.svg');
  background-size: cover;
}

.social-icon.whats:hover {
  opacity: 0.5;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.container-13 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-3 {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

.heading-9 {
  margin-top: 100px;
  color: #ae9743;
}

.conteudo-sobre {
  width: 50%;
}

.txt-sobre {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

.subtitle-sobre {
  margin-top: 100px;
  color: #ae9743;
  font-size: 24px;
  text-align: left;
}

.heading-10 {
  color: #ae9743;
  text-align: center;
}

.fundadores {
  display: none;
}

.col-fundadores {
  padding: 10px;
}

.heading-11 {
  color: #ae9743;
  font-size: 16px;
  font-weight: 500;
}

.paragraph-4 {
  color: #fff;
}

.fundador-img {
  width: 100%;
  height: 400px;
  background-color: #fff;
}

.div-block-6 {
  height: 3px;
  background-color: #ae9743;
}

.grafismo-sobre {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url('../images/img_bg-sobre.png');
  background-position: 100% 0%;
  background-size: 600px;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.conteudo-sobre-home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-14 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-title {
  background-color: #15233b;
  background-image: url('../images/pattern.svg');
  background-position: 0px 0px;
  background-size: 200px;
}

.section-clientes-home {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
}

.servicos-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-12 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: #15233b;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.container-15 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.paragraph-5 {
  padding: 10px;
}

.servicos-txt {
  margin-bottom: 0px;
  padding: 10px;
  color: #666;
  text-align: justify;
}

.servicos-name {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  color: #15233b;
  font-size: 20px;
  line-height: 22px;
  text-align: left;
}

.col-servicos {
  padding-right: 10px;
  padding-left: 10px;
}

.servicos-grupo {
  padding-top: 21px;
  padding-bottom: 21px;
}

.link-block-2 {
  width: 24px;
  height: 24px;
  background-image: url('../images/face-icon-white.svg');
  background-position: 0px 0px;
  background-size: cover;
}

.section-projetos {
  padding-top: 68px;
  padding-bottom: 68px;
}

.container-16 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.paragraph-6 {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.paragraph-7 {
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.container-17 {
  overflow: visible;
  padding-top: 30px;
  padding-bottom: 30px;
}

.columns-4 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.html-embed {
  height: 400px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.html-embed.maps {
  margin-top: 0px;
}

.map {
  margin-top: 30px;
  margin-bottom: 30px;
}

.div-block-7 {
  margin-top: 220px;
}

.heading-13 {
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 10px;
  background-color: rgba(108, 187, 55, 0.24);
  font-weight: 500;
  text-align: center;
}

.button-2 {
  font-size: 30px;
}

.top-btn {
  width: auto;
  padding: 0px 15px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 0px;
  background-color: #0e1726;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}

.top-btn:hover {
  background-color: #838383;
}

.section-clientes {
  padding-top: 60px;
  padding-bottom: 60px;
}

.cliente-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns-6 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.icon-2 {
  color: #ccc;
}

.icon-3 {
  color: #ccc;
}

.slide-1 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.mask-2 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.cliente-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  padding: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns-7 {
  padding-right: 40px;
  padding-left: 40px;
}

.div-block-8 {
  height: 2px;
  background-color: #ccc;
  color: #666;
}

@media (max-width: 991px) {
  .navbar {
    padding-right: 20px;
    padding-left: 20px;
  }
  .nav-menu {
    margin-top: 0px;
    background-color: #15233b;
    color: #fff;
  }
  .servicos-home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 12px;
  }
  .paragraph {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .nav-link {
    width: 100%;
    border-bottom: 1px solid #666;
  }
  .menu-button {
    border-radius: 50px;
    background-color: #15233b;
  }
  .menu-button.w--open {
    color: #fff;
  }
  .icon {
    color: #fff;
  }
  .clientes-logo {
    overflow: hidden;
    margin-right: 45px;
    margin-left: 45px;
  }
  .conteudo-sobre {
    width: 60%;
  }
  .grafismo-sobre {
    background-size: 300px;
  }
}

@media (max-width: 767px) {
  .btn-plataforma{
    text-transform: uppercase;
    color: #ae9743 !important;
    background: none !important;
    padding: 20px 10px !important;
    border: none;
  }
  .container-3 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .container-12 {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 479px) {
  .section-hero {
    height: 400px;
    background-position: 0% 50%;
  }
  .h1.hero {
    font-size: 50px;
    line-height: 52px;
  }
  .btn-amarelo {
    padding: 10px 20px;
  }
  .section-servicos-home {
    padding-right: 20px;
    padding-left: 20px;
  }
  .servicos-home {
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-size: 12px;
    line-height: 16px;
  }
  .columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .nav-link.w--current {
    border-style: none none solid;
    border-width: 1px;
    border-color: #000 #000 #8a8a8a;
  }
  .section-sobre {
    padding-right: 20px;
    padding-left: 20px;
  }
  .heading {
    font-size: 40px;
    line-height: 44px;
  }
  .paragraph-2 {
    padding-left: 0px;
  }
  .columns-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .section-projetos-home {
    padding-right: 20px;
    padding-left: 20px;
  }
  .h2 {
    text-align: center;
  }
  .h2.page-title {
    text-align: center;
  }
  .subtitle {
    text-align: center;
  }
  .img-galeria {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .heading-3 {
    font-size: 36px;
    line-height: 38px;
  }
  .container-6 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .container-7 {
    display: block;
    padding-right: 10px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .columns-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: left;
  }
  .column-5 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .heading-6 {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    line-height: 14px;
  }
  .column-6 {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .slider {
    overflow: visible;
  }
  .container-9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .clientes-logo {
    overflow: visible;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .container-10 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .slider-home {
    overflow: visible;
    height: 1000px;
  }
  .container-11 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .section-top-bar {
    display: none;
  }
  .conteudo-sobre {
    width: 100%;
  }
  .col-fundadores {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0px;
  }
  .grafismo-sobre {
    background-position: 100% 0%;
    background-size: 100px;
    background-attachment: scroll;
  }
  .conteudo-sobre-home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .servicos-title {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .container-15 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .servicos-txt {
    text-align: left;
  }
  .servicos-name {
    font-size: 14px;
    line-height: 16px;
  }
  .col-servicos {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .servicos-grupo {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .paragraph-7 {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 16px;
  }
  .container-17 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .heading-13 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .container-18 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .cliente-logo {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .icon-2 {
    font-size: 30px;
  }
  .icon-3 {
    font-size: 30px;
  }
  .columns-7 {
    overflow: hidden;
    height: 100%;
  }
}

